html {
    font-size: 1em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 1.4;

}
.site-header {
    float: center;
    color: #0059b3;
}

.list {
    width: 20%;
    float: left;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 7px;
    margin: 7px;
    background-color: #0080ff;
}

.list h3 {
    padding-left: 7px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.card {
    cursor: pointer;
    background-color: #FFF3CA;
    padding: 7px;
    margin: 7px 0px;
    color: #801a00;
    border: 1px solid grey;
    border-radius: 6px;
}

.card h4 {
    margin: 0px;
}

.description {
    color: #996633;
}

.flex {
    display: flex;
}

.flex input {
    flex-grow: 2;
    border-radius: 10px;
}

.flex-button {
    flex-basis: auto;
}

.card button,
.card input,
.card textarea {
    color: #404040;
    margin: 2px 0px
    border-radius: 10px;
}

.card textarea {
    width: 100%;
    resize: vertical;
}